@page "/Quiz"
@inject QuizService qService
<h3>Quiz challenge</h3>
<hr />
<div class="container-fluid">
  <div class="row">
    <div class="col">
      @foreach (var q in questions)
      {
        <h4> @q.Text</h4>
        <ul>
          @foreach (var ans in q.AnswerChoices)
          {
            <li>
              <input type="radio" id="@ans" name="choices" @onchange="@(e => CheckAnswer(q, ans))" />
              <label for="choices">@ans</label>
            </li>
          }
        </ul>
        <div></div>
      }
    </div>
    <div class="col-sm">
      <div class="col bg-success"<h3>Current score: @score</h3> </div>
    </div>
    @code {
      Question[] questions = QuizService.Questions;
      int score = 0;

      private void CheckAnswer(Question question, string usersAnswerChoice)
      {
        if (question.Answer == usersAnswerChoice)
        {
          score++;
        }
      }

    }
  </div>
  </div>
